{%- set ts = ts %}
<manifest version="3540642feac48e76af183a6e79d55404">
  <category description="Customer category IPFilter" name="IPFilter" options="" ttl="2592000" update_interval="10">
    <config version="398490f188">
      <url>/schema.xml</url>
    </config>
{%- for item in feeds %}
    <feed data_ts="{{ ts }}" name="{{ item }}" objects="36" options="" types="ip_addr ip_range" version="{{ item }}">
      <data>
        <url>/</url>
      </data>
    </feed>
{%- endfor %}
  </category>
</manifest>